@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
/* checkboxes */
.custom-checkbox {
  appearance: none;
  background-color: transparent;
  border: 2px solid #6f6cff;
  width: 1.5rem; /* Aumentado para 1.5rem */
  height: 1.5rem; /* Aumentado para 1.5rem */
  min-width: 1.5rem; /* Definindo largura mínima */
  min-height: 1.5rem; /* Definindo altura mínima */
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.custom-checkbox:checked {
  background-color: #6f6cff;
  border: 2px solid transparent;
}

.custom-checkbox:checked::after {
  content: "✔"; /* Símbolo de check */
  color: #fff;
  font-size: 1rem; /* Ajuste o tamanho do check */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* streak */
.day-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #6f6cff;
  font-weight: bold;
}

.day-circle-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 2px solid #6f6cff;
  border-radius: 50%;
  font-weight: bold;
}

/* Estilização da barra de rolagem no desktop */
/* Estilos específicos para a barra de rolagem no WebKit (Chrome, Safari) */
/* Torna a barra de rolagem visível apenas no desktop */
@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 2px; /* Largura da barra de rolagem */
    height: 5px;
  }

  /* Estilização da alça da barra de rolagem */
  /* Define a aparência da alça da barra de rolagem */
  ::-webkit-scrollbar-thumb {
    background-color: rgb(255, 253, 253); /* Cor da alça da barra de rolagem */
    border-radius: 10px; /* Arredonda as bordas da alça da barra de rolagem */
  }
}
